.navbar {
    background: #58249c;
    padding: 20px;
    color: #fff;
}
.navbar nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.navbar a.brand {
    margin-right: auto;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.navbar a.brand img {
    margin-right: 10px; /* Adiciona um space entre o ícone e o texto */
    height: 40px; /* Ajusta a altura conforme necessário */
    width: auto;
}

.navbar a.brand h1 {
    margin: 0;
    font-size: 24px; /* Ajusta o tamanho da fonte conforme necessário */
}
.navbar a:last-child {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 4px;
}
.navbar a:last-child:hover {
    background: #fff;
    color: #333;
}